/* formatting for publications */
.title {
  font-size:100%;
  font-style:italic;
}

.author {
  color: gray;
  font-variant: small-caps;
  font-size:100%;
}

.conf {
  color: gray;
  font-variant: small-caps;
  font-size:100%;
}

.date{
  color: gray;
  font-variant: small-caps;
  font-size:100%;
}

.date-small{
  color: gray;
  font-variant: small-caps;
  font-size:80%;
}

.description {
  color: gray;
  font-variant: small;
  font-size:80%;
}




.me {
  color: gray;
  font-weight: bold;
  font-variant: small-caps;
  font-size:100%;
}

/* formatting for links*/
/* unvisited link */
a:link {
  color: #FF0000;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #0009FF;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: green;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #0000FF;
  text-decoration: none;
}


/* taken from https://codepen.io/Idered/pen/AeBgF for "read more" toggle */
.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .8em;
  line-height: 1.5;
  border: 1px solid #ddd;
  border-radius: .25em;
}


